body > header#topbar{
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 52px;

  background-color: #000000;
}

body > header#topbar > div#brandName{
  margin-left: 45px; /*32px*/
  float: left;

  width: 266px; /*188px*/
  height: 52px;

  background-color: rgba(234, 234, 234, 0.39);
}

body > header#topbar > nav#duplicateControl{
  float: left;

  width: 543px; /*384px*/
  height: 52px;
}

/*hover: background-color: rgba(165, 165, 165, 0.26);*/
body > header#topbar > nav#duplicateControl > a{
  float: left;

  width: 90px; /*64px*/
  height: 52px;

  text-align: center;
  text-decoration: none;
}

body > header#topbar > nav#duplicateControl > a:hover{
  background-color: rgba(165, 165, 165, 0.26);
}

body > header#topbar > nav#duplicateControl > a > span{
  margin-top: -5px;
  display: block;

  font-size: 15px; /*11px*/

  color: rgba(255, 255, 255, 0.8);
}

.icon {
  margin: 6px 6px 6px 6px;
}

body > header#topbar > div#holder{
  float: left;
  width: 141px; /*100px*/
  height: 52px;

  align-items: center;
}

body > header#topbar > div#holder > div{
  margin: 10px 10px 10px 10px; /*10px*/
  float: left;

  width: 90px; /*90px*/
  height: 32px;

  border-radius: 100px;
  border: solid 2px #ffffff;
}

body > header#topbar > div#holder > div > span#bag{
  position: relative;
  top: -9px;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.8);
}

body > header#topbar > div#holder > div > span#two{
  position: relative;
  top: -9px;

  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 15px;
  text-align: center;
  color: #FFFFFF;

  border-radius: 100px;
  background-color: #ffee2e;
}

body > header#topbar > form#search > input{
  position: relative;
  top: 6px;

  width: 256px;
  height: 32px;

  border-radius: 100px;

  text-indent: 15px;

  color: rgba(72, 72, 72, 0.62);
  background-color: #FFFFFF;
}