.btn-more {
  width: 118px;
  height: 21px;
  border-radius: 100px;
  border: solid 1px #5fc1ff;
  font-family: .SFNSText;
  font-size: 11px;
  letter-spacing: 0px;
  color: #5fc1ff;
  background-color : #ffffff;
  margin-top : 8px;
  align-items: center;
}

.btn-more:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-more a {
  text-decoration: none;
  color: #5fc1ff;
}

.btn-more a:hover {
  text-decoration: none;
  color: #5fc1ff;
}