.btn-submit {
  border-radius: 100px;
  border: 1px solid #1C86EE;
  background-color: #fff;
  color: #1C86EE;
  padding: 5px 55px;
}

.btn-submit:hover {
  background-color: #1C86EE;
  color: #fff;
}
