*{
  /*font-family: 'SFNSText';*/
}
.topic{
  margin-top: 70px;
  margin-bottom: 50px;
}
.form-text{
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background-color: #f7f7f7;
}
.form-select{
  background: url(../images/group-2.png) no-repeat #f7f7f7;
  background-position: 99% 50%;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-label{
  font-weight: lighter;
}
button{
  border-radius: 100px;
  border: solid 1px #7cc5ff;
  background-color: white;
  color: #7cc5ff;
  padding: 5px 55px 5px 55px;
}