article{
  margin-top: 100px;
}

.button{
  padding: 6px 12px;
  background-color: #FFFFFF;
  border: 1px solid #7cc5ff;
  color: #7cc5ff;
  border-radius: 100px;
}

header .navbar {
  background-color: #000 !important;
}
