/**{
  font-family: 'SFNSText';
}*/
.center{
  margin: 0 auto;
  width: 100%;
}

div#final_bill{
  border-top: 1px solid #979797;
  font-size: 18px;
  color: #fe6868;
}

.cur {
  font-weight: 500;
  font-size: 14px;
  color: #636363;
}

h3 p{
  font-size: 20px;
  color: #636363;
  letter-spacing: -0.2px
}

.form-text{
  width: 100%;
  padding: 5px 10px 5px 10px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background-color: #d8d8d8;
  cursor: default;
  color: #636363;
}

.text-left{
  color: #636363;
  font-size: 14px;
}

button{
  border-radius: 100px;
  border: solid 1px #7cc5ff;
  background-color: white;
  color: #7cc5ff;
  padding: 5px 55px 5px 55px;
}

button:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

button a {
  font-size: 14px;
  text-decoration: none;
  color: #7cc5ff;
}

button a:hover {
  text-decoration: none;
  color: #7cc5ff;
}

.bold {
  font-weight: bold;
}