.center{
  margin: 0 auto;
  width: 100%;
}

div#final_bill{
  border-top: 1px solid #979797;
  font-size: 18px;
  color: #fe6868;
}
.form-text{
  width: 100%;
  padding: 5px 10px 5px 10px;

  border-radius: 10px;
  border: none;
  background-color: #d8d8d8;
  cursor: default;
}
button{
  border-radius: 100px;
  border: solid 1px #7cc5ff;
  background-color: white;
  color: #7cc5ff;
  padding: 5px 55px 5px 55px;
}
